<form action="/admin" method="post">
    <label for="nume">Nume Film:</label>
    <input type="text" name="nume"><br>
    <label for="platofrma">Platforma:</label>
    <input type="text" name="platforma"><br>
    <label for="pret">Pret:</label>
    <input type="number" name="pret"><br>
    <button class="button" type="submit">Adaugă</button>

</form>